<div class="container">
  <div class="col-md-9 col-sm-6 col-xs-12">
  <div class="card mt-3  border-primary">
    <div class="card-header text-center text-white bg-primary "> Modifer Gerant</div>

    <div class="card-body">
      <form [formGroup]="this.gerantService.formData" (ngSubmit)="onSubmite()">
        <div class="form-group">
          <label  class="control-label" >Nom</label>
          <input class="form-control" type="text" formControlName="nom" id="nom">
        </div>
        <div class="form-group">
          <label  class="control-label" >Prenom</label>
          <input class="form-control" type="text" formControlName="prenom" id="prenom">
        </div>
        <div class="form-group">
          <label  class="control-label" >Addresse</label>
          <input class="form-control" type="text" formControlName="addresse" id="addresse">
        </div>
        <div class="form-group">
          <label  class="control-label" >Telephone</label>
          <input class="form-control" type="text" formControlName="telephone" id="telephone">
        </div>
        <div class="form-group">
          <label  class="control-label" >Email</label>
          <input class="form-control" type="text" formControlName="email" id="email">
        </div>
        <div class="row">
          <div class="form-group col-3">
            <label>Civilite</label>
                      <select formControlName="civilite" class="form-control" id="civilite" >
                          <option value=""></option>
                          <option value="Mr" selected>Mr</option>
                          <option value="Mrs">Mrs</option>
                          <option value="Miss">Miss</option>
                          <option value="Ms">Ms</option>
                      </select>
  
          </div>
          <div class="form-group col-3">
            <label  class="control-label" >Genre</label>
            <select formControlName="genre" class="form-control" id="genre" >
              <option value=""></option>
              <option value="M" selected>Masculin</option>
              <option value="F">Feminin</option>
          </select>
          </div>
          <div class="form-group col-6">
            <label  class="control-label" >Cni</label>
            <input class="form-control" type="text" formControlName="cni" id="cni">
          </div>
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-success" type="submit"><i class="fa fa-database"></i> Enregistrer</button>
          <button  type="button" class=" btn btn-ontline-info ml-1" ><i></i> Reset</button>
        </div>
      </form>

    </div>
  </div>
</div>
</div>




