<div class="container">
  <div class="card mt-3  border-primary">
    <div class="card-header text-center text-white bg-primary "> Listes Gerants</div>
    <div class="card-body">
      <a class="btn btn-primary" routerLink="/addgerant" >New Gerant</a>
    </div>
    <div class="card-body">
      <table  *ngIf="gerantService.list" class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Addresse</th>
            <th scope="col">Telephone</th>
            <th scope="col">Email</th>
            <th scope="col">Addresse</th>
            <th scope="col">Civilite</th>
            <th scope="col">Genre</th>
            <th scope="col">Cni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of gerantService.list">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.addresse}}</td>
            <td>{{c.telephone}}</td>
            <td>{{c.email}}</td>
            <td>{{c.civilite}}</td>
            <td>{{c.genre}}</td>
            <td>{{c.cni}}</td>
            <td><button class="btn btn-warning" (click)="SelectGerant(c)">
              <i class="fa fa-pencil-square-o"></i>
            </button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet>

</router-outlet>

