<app-menu></app-menu>
<div class="container">
  <div class="card mt-3  border-primary">
    <div class="card-header text-center text-white bg-primary "> Listes Categories</div>
    <div class="card-body">
      <a class="btn btn-primary" routerLink="/addcategorie" ><i class="fa fa-plus"> New Categories</i></a>
    </div>
    <div class="card-body">
      <table  *ngIf="categorieService.list" class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of categorieService.list">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.description}}</td>
            <td><button class="btn btn-warning" (click)="SelectCategorie(c)"  >
              <i class="fa fa-pencil-square-o"></i>
            </button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet>

</router-outlet>
